# merge variant emails
Takumi <valenoern@distributary-network_broken> <sougonnatakumi@yahoo.co.jp>
<valenoern@distributary-network_broken> <takumi@refracta>
<valenoern@distributary-network_broken> <takumi@exefce>
<valenoern@distributary-network_broken> <takumi@windows10>
<valenoern@distributary-network_broken> <takumi@marsh>
<valenoern@distributary-network_broken> <takumi@sunrise-peak>
