
body {
	background: rgb(145,130,154);
	padding: 0.7em;
	
	font-family: sans-serif;
}

article {
	background: rgba(216, 215, 218, 0.76);
	outline: 1px solid grey;
	padding: 1em 1.3em;
	line-height: 1.5;
	
	margin: 1em 0;
}

header.title {
	padding: 0.1em 0 0.2em 0;
	margin: 1.7em 0;
}
.title h1 {
	margin-top: 0;
}

p, li {
	max-width: 67em;
}

code {
	font-size: 105%;
}

/* fonts */

h1 {
	font-family: monospace;
}

article h1 {
	font-family: "Jura", sans-serif;
	font-weight: 700;
	font-size: 160%;
}

h2 {
	
}
